<% content_for :header_tags do %>
		<%= stylesheet_link_tag 'redmine_costs', :plugin => 'redmine_costs' %>
<% end %>

<script type="text/javascript" charset="utf-8">
	
	$(document).ready(function(){
		$('#is_payment').click(function(){
			if (this.checked) {
			     $('#mostra_valor').show();
			     $('#cost_issue_value_p').html('<%= form.fields_for :cost_issue, (form.object.cost_issue ? form.object.cost_issue : CostIssue.new) do |cif|%> R$ <%= cif.text_field :value %>  <% end %>');
			} else {
			     $('#mostra_valor').hide();
				 $('#cost_issue_value_p').empty();
			}
		});
		
	});
</script>
	


<% if @project.module_enabled?('redmine_costs') %>
	<% unless @issue.cost_issue.nil? && params[:action] != "new" %>
		</div>
		<div style="clear:both;"></div>
		<% if params[:action] == "new" %>
			<div>
				<fieldset id="issue_cost_issue" class="box tabular">
					<legend> Custos </legend>		
						<p><input type="checkbox" name="is_payment" id="is_payment" value="1">Tarefa de pagamento?</p>
						<div id="mostra_valor" style="display:none">
							<p id="cost_issue_value_p">										
							</p>
						</div>		
						
					<div id="footer_cost">
						<%= t(:helpers_messages_cost_title_footer)%>
					</div>		
				</fieldset>
		<% else %>
			<div>
				<fieldset id="issue_cost_issue" class="box tabular">
					<legend> Custos </legend>
					<%= form.fields_for :cost_issue, (form.object.cost_issue ? form.object.cost_issue : CostIssue.new) do |cif|%>		
					<p>
						 R$ <%= cif.text_field :value %>  										
					</p>		
					<% end %>	
					<div id="footer_cost">
						<%= t(:helpers_messages_cost_title_footer)%>
					</div>		
				</fieldset>
		<% end %>
	<% end %>
<% end %>


