<% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery.min.js', :plugin => 'redmine_costs' %>
    <%= javascript_include_tag 'rails', 'highcharts', 'highcharts-3d', :plugin => 'redmine_costs' %>

<% end %>


<h2><%= t :helpers_messages_cost_report_title %></h2>

<% unless @project.cost.nil? %>
<div class="splitcontentleft">
	
	<div class="box tabular">	
		<h3><%= @project.name %></h3><hr><br/>			
		<p>
			<%= t(:helpers_messages_cost_title_value) %> R$ <b> <%= @project.cost.value %> </b>
		</p>
		<% unless @project.cost.start_date.nil? && @project.cost.end_date.nil? %>
		<p>
			<%= t :helpers_messages_cost_title_period %> 				
			<b>	<%= format_data_br(@project.cost.try(:start_date)) %> a <%= format_data_br(@project.cost.try(:end_date)) %>	</b>			
		</p>
		<% end %>		
	</div>
	<div style="clear:both;" ></div>
	<div class="box tabular"> 
		<h5><%= t(:helpers_messages_cost_efforts_number) %> </h5>	
		<% unless @project.cost_efforts.empty? %>
		<table class="list issues">
			<tbody>
				<% @project.cost_efforts.each do |ce| %> 
				<tr class="hascontextmenu <%= cycle('odd', 'even') %>">
					<td class="tracker"><%= ce.number %> </td>					
				</tr>
				<% end %>
			</tbody>
		</table>
		<% else %>
			<p class="nodata">Projeto sem número de empenho!</p>
		<% end %>
	</div>
			
	<div style="clear:both;" ></div>
		<div class="box tabular">
			<h3> Tarefas </h3>			
			<% unless @project.issues.empty? %>				
			<table class="list issues">
			    <thead>
				  <tr>
			    	<th>Título</th>
			    	<th>Valor</th>
					<th align="left"><%= l(:field_done_ratio) %></th>
			    	<th>Status</th>
			      </tr>
				</thead>
			    <tbody>
				<% @project.issues.each do |c| %>
					<% unless c.cost_issue.nil? %>
				  <tr class="hascontextmenu <%= cycle('odd', 'even') %> <%= c.css_classes %>">
				     <td class="tracker"><%= link_to c.subject, issue_path(c) %> </td>
					 <td class="tracker">R$ <%= c.cost_issue.value  %></td>
					 <td class="tracker"><%= progress_bar_cost_issue(c.done_ratio, :width => '80px') %></td>
					 <td class="tracker"><%= is_closed_issue(c) %></td>
					</tr>					
					<% end %>
				<% end %>
				</tbody>
			</table>				
				<% else%>
					<p class="nodata">Projeto sem tarefas!</p>
				<% end %>	
		</div>
		
	<div class="box tabular">
		<h2> Valor restante:  R$ <%= @project.cost.calcula_valor_restante(@project) %> </h2>	
	</div>
</div>

<%= render :partial => "costs/highcharts" %>


<div style="clear:both;"></div>
<div class="box tabular">
	<div id="all_attributes">
		<p class="nodata">Faltam <%= @project.cost.calcula_termino_contrato(@project) %></p>
	</div>
</div>
<% else %>
<div style="clear:both;"></div>
<div class="box tabular">
	<div id="all_attributes">
		<p class="nodata"><%= t :helpers_messages_cost_title_nodata %></p>
	</div>
</div>
<% end %>


